{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VKT Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.jpg.ico' %}"/>
    </head>
    <body>
      <div class="banner-cont">
        <div class="banner-title">
          <h1>Voight-Kampff Test</h1>
        </div>
        <nav class="navigation-cont">
          <a href="{% url 'home' %}" class="links-banner-specifications">home</a>
          <a href="{% url 'instructions' %}" class="links-banner-specifications">instructions</a>
          <a href="{% url 'chat' %}" class="links-banner-specifications">rooms</a>
        </nav>
      </div>
      <div class="home-instructions-cont">
        <div class="introductions-div">
          <p class="introductions-text">
            Voight-Kampff Test is a game of social detection.<br>
            Players are assigned a role: human or AI.
            <br>
            Humans answer questions and try to root out party members that aren't human.
            <br>
            AI have their answers written by an AI, and must convince the others they wrote the answer.
            <br>
          </p>
        </div>
        <div>
          <button class="introduction-button-1" type="button" id="toChat"><b>Play</b></button><br>
          <button class="introduction-button-2" type="button" id="toInstructions"><b>Further Instructions</b></button><br>
        </div>
      </div>

      <script src="{% static 'home.js' %}"></script>
    </body>
</html>
