{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VKT Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.jpg.ico' %}"/>
    </head>
    <body style="margin:0; padding:0; color:black; background-color: black;">
      <div class="mobile-div-banner">
        <h1 class="mobile-banner">Voight-Kampff Test</h1>
      </div>
      <div class="div-banner">
        <h1 class="heading-banner">Voight-Kampff Test</h1>
        <div class="introductions-div">
          <p class="introductions-text">
            Voight-Kampff Test is a game of social detection.<br>
            Players are assigned a role: human or AI.
            <br>
            Humans answer questions and try to root out party members that aren't human.
            <br>
            AI have their answers written by an AI, and must convince the others they wrote the answer.
            <br>
          </p>
        </div>


      </div>
      <div>
        <button class="introduction-button-1" type="button" id="toChat"><b>Play</b></button><br>
        <button class="introduction-button-2" type="button" id="toInstructions"><b>Further Instructions</b></button><br>
      </div>
      <div>
        <h1 class="mobile-banner" style="color: white; font-size: 80px;">Voight Kampff</h1>
      </div>

      <script src="{% static 'home.js' %}"></script>
    </body>
</html>
