{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VKT Room Instructions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.jpg.ico' %}"/>
    </head>
    <body class="instructions">
      <div class="banner-cont">
        <div class="banner-title">
          <h1>Voight-Kampff Test</h1>
        </div>
        <nav class="navigation-cont">
          <a href="{% url 'home' %}" class="links-banner-specifications">home</a>
          <a href="{% url 'instructions' %}" class="links-banner-specifications">instructions</a>
          <a href="{% url 'chat' %}" class="links-banner-specifications">rooms</a>
        </nav>
      </div>
      <div class="instructions-div">
          <ol class="instructions-text">
            <li>
              Players are assigned a role: human or AI. The role will be displayed on the righthand side of the screen.
            </li>
            <li>
              Humans answer questions. The questions will be on the lefthand side of the screen.
            </li>
            <li>
              AI have their answers written by an AI. Quickly type anything into the chat and click send. It will take a few moments for the AI to compose your answer.
            </li>
            <li>
              After everyone has submitted their answers, take some time to discuss your answers.
            </li>
            <li>
              AI players try to pass as human.
            </li>
            <li>
              Humans use their meat-brains to root out the imposters.
            </li>
            <li>
              When you are ready, take a vote on each player. If half of the group agree they are an AI, that player is eliminated.
            </li>
            <li>
              If you want to do another round, everyone click on the Next Question button underneath the question. You will be taken to another page.
            </li>
            <li>
              If your party is finished, click the End Game button to reveal everyones true role.
            </li>
          </ol>
        </div>
